# DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:
* Python
* R
* Scala

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Panda
3. Matplotlib
4. dplyr
5. ggplot2
6. caret

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|------------------|
|     Rstudio      |
|------------------|
|      Spyder      |
|------------------|

## Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author
Vishal